USE [master]
GO
/****** Object:  Database [BE_Magaza]    Script Date: 17.10.2025 10:54:40 ******/
CREATE DATABASE [BE_Magaza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BE_Magaza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BE_Magaza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BE_Magaza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BE_Magaza_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BE_Magaza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BE_Magaza]
GO
/****** Object:  Table [dbo].[gonderi]    Script Date: 17.10.2025 10:54:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gonderi](
	[gonderi_id] [smallint] NOT NULL,
	[gonderi_turu] [varchar](25) NULL,
 CONSTRAINT [PK_gonderi] PRIMARY KEY CLUSTERED 
(
	[gonderi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gorev]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gorev](
	[gorev_id] [smallint] NOT NULL,
	[gorev] [varchar](25) NULL,
 CONSTRAINT [PK_gorev] PRIMARY KEY CLUSTERED 
(
	[gorev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategori]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategori](
	[kategori_id] [smallint] NOT NULL,
	[kategori] [varchar](50) NULL,
 CONSTRAINT [PK_kategori] PRIMARY KEY CLUSTERED 
(
	[kategori_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meslek]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meslek](
	[meslek_id] [smallint] NOT NULL,
	[meslek] [varchar](255) NULL,
 CONSTRAINT [PK_meslek] PRIMARY KEY CLUSTERED 
(
	[meslek_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteri]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteri](
	[musteri_id] [smallint] NOT NULL,
	[adi] [varchar](50) NULL,
	[soyadi] [varchar](50) NULL,
	[dogum_tarihi] [date] NULL,
	[telefon] [nchar](10) NULL,
	[cinsiyet] [nchar](5) NULL,
	[meslek_id] [smallint] NULL,
	[adres] [varchar](255) NULL,
 CONSTRAINT [PK_musteri] PRIMARY KEY CLUSTERED 
(
	[musteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personel]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel](
	[id] [smallint] NOT NULL,
	[adi] [varchar](50) NULL,
	[soyadi] [varchar](50) NULL,
	[dogum_tarihi] [date] NULL,
	[ise_baslama_tarihi] [date] NULL,
	[telefon] [nchar](10) NULL,
	[görev_id] [smallint] NULL,
	[sube_id] [smallint] NULL,
	[adres] [varchar](255) NULL,
 CONSTRAINT [PK_personel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparis]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparis](
	[siparis_id] [smallint] NOT NULL,
	[musteri_id] [smallint] NULL,
	[siparis_tarihi] [date] NULL,
	[teslim_tarihi] [date] NULL,
	[personel_id] [smallint] NULL,
	[sube_id] [smallint] NULL,
	[gonderi_id] [smallint] NULL,
 CONSTRAINT [PK_siparis] PRIMARY KEY CLUSTERED 
(
	[siparis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparis_detay]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparis_detay](
	[id] [smallint] NOT NULL,
	[siparis_id] [smallint] NULL,
	[urun_id] [smallint] NULL,
	[adet] [smallint] NULL,
 CONSTRAINT [PK_siparis_detay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sube]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sube](
	[sube_id] [smallint] NOT NULL,
	[sube_adi] [varchar](255) NULL,
	[adres] [varchar](255) NULL,
	[telefon] [nchar](10) NULL,
 CONSTRAINT [PK_magaza] PRIMARY KEY CLUSTERED 
(
	[sube_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urun]    Script Date: 17.10.2025 10:54:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urun](
	[urun_id] [smallint] NOT NULL,
	[urun_adi] [varchar](150) NULL,
	[kategori_id] [smallint] NULL,
	[fiyat] [money] NULL,
 CONSTRAINT [PK_urun] PRIMARY KEY CLUSTERED 
(
	[urun_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[musteri]  WITH CHECK ADD  CONSTRAINT [FK_musteri_meslek] FOREIGN KEY([meslek_id])
REFERENCES [dbo].[meslek] ([meslek_id])
GO
ALTER TABLE [dbo].[musteri] CHECK CONSTRAINT [FK_musteri_meslek]
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD  CONSTRAINT [FK_personel_gorev] FOREIGN KEY([görev_id])
REFERENCES [dbo].[gorev] ([gorev_id])
GO
ALTER TABLE [dbo].[personel] CHECK CONSTRAINT [FK_personel_gorev]
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD  CONSTRAINT [FK_personel_magaza1] FOREIGN KEY([sube_id])
REFERENCES [dbo].[sube] ([sube_id])
GO
ALTER TABLE [dbo].[personel] CHECK CONSTRAINT [FK_personel_magaza1]
GO
ALTER TABLE [dbo].[siparis]  WITH CHECK ADD  CONSTRAINT [FK_siparis_gonderi] FOREIGN KEY([gonderi_id])
REFERENCES [dbo].[gonderi] ([gonderi_id])
GO
ALTER TABLE [dbo].[siparis] CHECK CONSTRAINT [FK_siparis_gonderi]
GO
ALTER TABLE [dbo].[siparis]  WITH CHECK ADD  CONSTRAINT [FK_siparis_magaza] FOREIGN KEY([sube_id])
REFERENCES [dbo].[sube] ([sube_id])
GO
ALTER TABLE [dbo].[siparis] CHECK CONSTRAINT [FK_siparis_magaza]
GO
ALTER TABLE [dbo].[siparis]  WITH CHECK ADD  CONSTRAINT [FK_siparis_musteri] FOREIGN KEY([musteri_id])
REFERENCES [dbo].[musteri] ([musteri_id])
GO
ALTER TABLE [dbo].[siparis] CHECK CONSTRAINT [FK_siparis_musteri]
GO
ALTER TABLE [dbo].[siparis]  WITH CHECK ADD  CONSTRAINT [FK_siparis_personel] FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([id])
GO
ALTER TABLE [dbo].[siparis] CHECK CONSTRAINT [FK_siparis_personel]
GO
ALTER TABLE [dbo].[siparis_detay]  WITH CHECK ADD  CONSTRAINT [FK_siparis_detay_siparis] FOREIGN KEY([siparis_id])
REFERENCES [dbo].[siparis] ([siparis_id])
GO
ALTER TABLE [dbo].[siparis_detay] CHECK CONSTRAINT [FK_siparis_detay_siparis]
GO
ALTER TABLE [dbo].[siparis_detay]  WITH CHECK ADD  CONSTRAINT [FK_siparis_detay_urun] FOREIGN KEY([urun_id])
REFERENCES [dbo].[urun] ([urun_id])
GO
ALTER TABLE [dbo].[siparis_detay] CHECK CONSTRAINT [FK_siparis_detay_urun]
GO
ALTER TABLE [dbo].[urun]  WITH CHECK ADD  CONSTRAINT [FK_urun_kategori] FOREIGN KEY([kategori_id])
REFERENCES [dbo].[kategori] ([kategori_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[urun] CHECK CONSTRAINT [FK_urun_kategori]
GO
USE [master]
GO
